/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

hr {
	border-top: 1px solid black;
	width: 877px;
}

.row_0 .column_0 {
	max-width: 850px;
	margin: auto;
}

.row_1 {
	display: inline-block;
	text-align-last: justify;
	width: 877px;
	margin-top: 15px;
}

.row_1 .column_1 {
	text-align-last: justify;
	margin: auto;
}

.row_1 .column_1 a {
	color: gray;
	text-decoration: none;
}

.row_1 .column_1 img {
	height: 25px;
	width: 155px;
	vertical-align: -5px;
}

.row_2 {
	display: inline-block;
	text-align-last: justify;
	width: 877px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.row_2 .column_1 {
	display: inline-block;
	text-align-last: center;
	vertical-align: 42px;
	margin-left: 80px;
}

.row_2 .column_1 h1 {
	font-size: 74px;
	margin-bottom: 0px;
}

.row_2 .column_1 button {
	background: white;
    width: 144px;
    height: 30px;
    font-size: 15px;
}

.row_2 .column_2 {
	display: inline-block;
	text-align-last: center;
}

.row_2 .column_2 img {
	height: 325px;
	width: 325px;
}

.row_3 {
	display: inline-block;
	text-align-last: justify;
	width: 877px;
	margin-top: 15px;
	margin-bottom: 25px;
}

.row_3 .column_1 {
	display: inline-block;
	text-align-last: left;
	width: 410px;
}

.row_3 .column_2 {
	display: inline-block;
	text-align-last: left;
	width: 410px;
}

.row_4 {
	display: inline-block;
	text-align-last: justify;
	width: 877px;
	margin-top: 15px;
	margin-bottom: 25px;
}

.row_5 {
	display: inline-block;
	text-align-last: justify;
	width: 877px;
	margin-top: 15px;
	margin-bottom: 25px;
}

.row_5 .column_1 {
	display: inline-block;
	text-align-last: left;
	width: 274px;
}

.row_5 .column_2 {
	display: inline-block;
	text-align-last: left;
	width: 274px;
}

.row_5 .column_3 {
	display: inline-block;
	text-align-last: left;
	width: 274px;
}

.row_6 {
	display: inline-block;
	text-align-last: justify;
	width: 877px;
	margin-top: 15px;
	margin-bottom: 25px;
}

.row_6 .column_1 {
	display: inline-block;
	text-align-last: left;
	width: 223px;
}

.row_7 {
	display: inline-block;
	text-align-last: center;
	width: 877px;
	margin-top: 15px;
	margin-bottom: 25px;
}